#chat{
width: 350px;
position: fixed;
bottom: 0;
right: 30px;
border: 1px solid #ddd;
&.active{
    display: none;
}
header{
    background:rgb(12, 12, 119);
    padding: 15px;
    color: #fff;
    i{
        cursor: pointer;
    }
}
main{
    height: 280px;
    background: #fff;
    overflow-y: scroll;
    .message{
        position: relative;
        padding: 15px;
        margin: 20px 10px;
        width: 50%;
        border-radius: 10px;
        .time{
        position: absolute;
        top: 100%;
        color: #222;
        
        }
        &.user{
            float: right;
            background: #ddd;
        }
        &.support{
            float: left;
            background: rgb(12, 12, 119);
           color: #fff;
        }
    }
}
}
#mini-chat{
    width: 60px;
    height: 60px;
    background: rgb(12, 12, 119);
    border-radius: 50%;
    padding: 15px;
    position: fixed;
    bottom: 30px;
    right: 30px;
  
    svg{
        fill: #fff;
    }
}